@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i&display=swap);





body {
  font-family: Muli;
}
.display-1 {
  font-family: 'Old Standard TT', serif;
  font-size: 3.6rem;
}
.display-1 > .mbr-iconfont {
  font-size: 5.76rem;
}
.display-2 {
  font-family: 'Old Standard TT', serif;
  font-size: 2.8rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.48rem;
}
.display-4 {
  letter-spacing: 2px;
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Old Standard TT', serif;
  font-size: 1.7rem;
  line-height: 1.3;
}
.display-5 > .mbr-iconfont {
  font-size: 2.72rem;
}
.display-7 {
  font-family: 'Muli', sans-serif;
  font-size: 1.2rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.88rem;
    font-size: calc( 1.91rem + (3.6 - 1.91) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.91rem + (3.6 - 1.91) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.24rem;
    font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.36rem;
    font-size: calc( 1.245rem + (1.7 - 1.245) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.245rem + (1.7 - 1.245) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #222222 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #222222 !important;
  border-color: #222222 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #222222;
  border-color: #222222;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #222222 !important;
  border-color: #222222 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #000000 !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Muli', sans-serif;
  font-size: 1.2rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
blockquote {
  border-color: #149dcc;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-number__spin {
  background: none;
  border: none;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #149dcc;
  border-bottom-color: #149dcc;
}
.btn-black:hover,
.btn-black:focus {
  background: white!important;
  color: black!important;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #149dcc !important;
  box-shadow: none!important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none!important;
}
.lazy-placeholder:not(section) {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23149dcc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rwXXxcs7I8 .navbar {
  background: #ffffff;
  transition: none;
  z-index: 98;
  left: auto;
}
.cid-rwXXxcs7I8 .navbar .show {
  height: 100vh;
}
.cid-rwXXxcs7I8 .navbar-collapse {
  max-height: 100vh!important;
  overflow: visible;
  transition: none;
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rwXXxcs7I8 .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-rwXXxcs7I8 .bottom {
  padding-bottom: 2rem;
}
.cid-rwXXxcs7I8 a {
  font-style: normal;
}
.cid-rwXXxcs7I8 .dropdown-backdrop {
  display: none;
}
.cid-rwXXxcs7I8 .dropdown-toggle::after {
  border-top: 0!important;
  margin-left: 10px!important;
}
.cid-rwXXxcs7I8 .nav-dropdown {
  padding-top: 8rem;
}
.cid-rwXXxcs7I8 .nav-item {
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
}
.cid-rwXXxcs7I8 .nav-link {
  position: relative;
  margin-top: 0.5rem;
  width: fit-content;
  margin: auto;
  letter-spacing: 2px;
}
.cid-rwXXxcs7I8 .nav-link:after {
  content: "";
  color: #333;
  transition: all 0.3s;
  width: 20px;
  position: absolute;
  top: 50%;
  height: 1px;
  background-color: #1c1c1c;
  margin-left: 10px;
}
.cid-rwXXxcs7I8 .nav-link:hover:after {
  margin-left: -15px !important;
}
.cid-rwXXxcs7I8 .nav-link span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rwXXxcs7I8 .nav-link a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rwXXxcs7I8 .collapsed .navbar-collapse.show {
  display: flex!important;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.cid-rwXXxcs7I8 .navbar-nav {
  width: 100%!important;
}
.cid-rwXXxcs7I8 .btn {
  width: fit-content;
  margin: 10px auto;
  padding: 1rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rwXXxcs7I8 .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rwXXxcs7I8 .navbar-caption-wrap {
  padding-left: 1rem;
  padding-top: 8px;
}
.cid-rwXXxcs7I8 .dropdown-menu {
  position: absolute!important;
  width: fit-content !important;
}
.cid-rwXXxcs7I8 .dropdown-item {
  background: #1c1c1c;
  color: #ffffff !important;
}
.cid-rwXXxcs7I8 .dropdown-item:hover,
.cid-rwXXxcs7I8 .dropdown-item:active {
  color: #ffffff !important;
}
.cid-rwXXxcs7I8 .social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cid-rwXXxcs7I8 .soc-item {
  width: 45px;
  height: 45px;
  background: #232323;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0.4rem;
}
.cid-rwXXxcs7I8 .soc-item span {
  font-size: 1.2rem;
  color: #ffffff !important;
  transition: all 0.3s;
  padding-top: 4px;
  display: block;
}
.cid-rwXXxcs7I8 .soc-item:hover span {
  color: #c1c1c1 !important;
}
.cid-rwXXxcs7I8 .dropdown.open > .dropdown-menu {
  position: absolute;
  opacity: 1;
  background: #1c1c1c;
  height: auto;
  left: auto;
  right: 100%;
  top: 5px;
  visibility: visible;
}
.cid-rwXXxcs7I8 .navbar-logo {
  margin-right: 0!important;
}
.cid-rwXXxcs7I8 .hamburger {
  position: absolute;
  top: 27px;
  right: 22px;
}
.cid-rwXXxcs7I8 .menu-logo {
  position: fixed!important;
}
.cid-rwXXxcs7I8 .menu-logo {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
  margin-right: auto;
}
.cid-rwXXxcs7I8 .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rwXXxcs7I8 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rwXXxcs7I8 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rwXXxcs7I8 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rwXXxcs7I8 .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rwXXxcs7I8 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rwXXxcs7I8 .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rwXXxcs7I8 .navbar-toggler {
  background: #ffffff;
  width: 75px!important;
  height: 75px!important;
  border-radius: 0!important;
  margin-top: -25px !important;
  margin-right: -16px !important;
}
.cid-rwXXxcs7I8 .navbar-brand {
  background: transparent;
  margin: 0!important;
  padding: 10px!important;
  padding-top: 20px;
}
.cid-rwXXxcs7I8 .navbar.navbar-short {
  background: transparent;
  min-height: 60px;
  transition: none;
}
.cid-rwXXxcs7I8 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rwXXxcs7I8 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rwXXxcs7I8 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rwXXxcs7I8 .opened,
.cid-rwXXxcs7I8 .show {
  height: 100%;
  width: 300px!important;
  right: 0;
  transition: none;
  background: #ffffff !important;
  left: auto;
}
@media (max-width: 767px) {
  .cid-rwXXxcs7I8 .dropdown-item {
    font-size: 0.8rem;
  }
  .cid-rwXXxcs7I8 .nav-dropdown {
    padding-top: 4rem;
  }
  .cid-rwXXxcs7I8 .opened,
  .cid-rwXXxcs7I8 .show,
  .cid-rwXXxcs7I8 .navbar {
    width: 100%!important;
  }
  .cid-rwXXxcs7I8 .dropdown-toggle {
    margin: auto!important;
  }
  .cid-rwXXxcs7I8 .dropdown-menu {
    position: relative!important;
    left: 0!important;
    top: 0!important;
    margin: auto;
  }
  .cid-rwXXxcs7I8 .nav-item.dropdown {
    flex-direction: column;
  }
}
.cid-rwXXxcs7I8 .nav-item:focus,
.cid-rwXXxcs7I8 .nav-link:focus {
  outline: none;
}
.cid-rwXXxcs7I8 .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 2rem;
  width: auto;
}
.cid-rwXXxcs7I8 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rwXXxcs7I8 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rwXXxcs7I8 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rwXXxcs7I8 .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rwXXxcs7I8 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rwXXxcs7I8 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rwXXxcs7I8 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rwXXxcs7I8 .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rwXXxcs7I8 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rwXXxcs7I8 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rwXXxcs7I8 button.navbar-toggler:focus {
  outline: none;
}
.cid-rwXXxcs7I8 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #1c1c1c;
}
.cid-rwXXxcs7I8 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rwXXxcs7I8 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rwXXxcs7I8 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rwXXxcs7I8 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rwXXxcs7I8 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rwXXxcs7I8 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rwXXxcs7I8 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rwXXxcs7I8 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rwXXxcs7I8 .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rwXXxcs7I8 .collapsed .btn {
  display: -webkit-flex;
}
.cid-rwXXxcs7I8 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rwXXxcs7I8 .collapsed .navbar-collapse.collapsing,
.cid-rwXXxcs7I8 .collapsed .navbar-collapse.show {
  display: flex !important;
  width: 100%;
}
.cid-rwXXxcs7I8 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rwXXxcs7I8 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rwXXxcs7I8 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rwXXxcs7I8 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rwXXxcs7I8 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rwXXxcs7I8 .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rwXXxcs7I8 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rwXXxcs7I8 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-rwXXxcs7I8 .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: 92.875vh;
  }
}
.cid-rwXXxcs7I8 .collapsed button.navbar-toggler {
  display: block;
}
.cid-rwXXxcs7I8 .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rwXXxcs7I8 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rwXXxcs7I8 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rwXXxcs7I8 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
@media (max-width: 991px) {
  .cid-rwXXxcs7I8 .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rwXXxcs7I8 img {
    height: 3.8rem !important;
  }
  .cid-rwXXxcs7I8 .btn {
    display: -webkit-flex;
  }
  .cid-rwXXxcs7I8 button.navbar-toggler {
    display: block;
  }
  .cid-rwXXxcs7I8 .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rwXXxcs7I8 .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rwXXxcs7I8 .navbar-collapse.collapsing,
  .cid-rwXXxcs7I8 .navbar-collapse.show {
    display: block !important;
  }
  .cid-rwXXxcs7I8 .navbar-collapse.collapsing .navbar-nav,
  .cid-rwXXxcs7I8 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rwXXxcs7I8 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rwXXxcs7I8 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rwXXxcs7I8 .navbar-collapse.collapsing .navbar-buttons,
  .cid-rwXXxcs7I8 .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rwXXxcs7I8 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rwXXxcs7I8 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rwXXxcs7I8 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rwXXxcs7I8 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rwXXxcs7I8 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
}
@media (min-width: 767px) {
  .cid-rwXXxcs7I8 .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rmHLpxsvRQ {
  padding-top: 135px;
  padding-bottom: 105px;
  background-image: url("../../../assets/images/mbr-20.jpg");
}
.cid-rmLdgD3gI0 {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rmLdgD3gI0 .card-box {
  padding: 2rem 2rem 0rem 2rem;
}
.cid-rmLdgD3gI0 .mbr-section-btn {
  padding-top: 0.5rem;
}
.cid-rmLdgD3gI0 .card {
  height: fit-content;
}
.cid-rmLdgD3gI0 h4 {
  display: inline;
  text-decoration: none;
  background-image: linear-gradient(transparent calc(98%), currentColor 1px);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 0% 100%;
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cid-rmLdgD3gI0 .card1 {
  background: #ffffff;
}
.cid-rmLdgD3gI0 .card2 {
  background: #232323;
}
.cid-rmLdgD3gI0 .card3 {
  background: #ffffff;
}
.cid-rmLdgD3gI0 .card4 {
  background: #232323;
}
.cid-rmLdgD3gI0 .card-wrapper {
  height: 100%;
  padding-bottom: 2rem;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rmLdgD3gI0 .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-rmLdgD3gI0 .card-wrapper:hover h4 {
  background-size: 100% 100%;
}
.cid-rmLdgD3gI0 .card-subtitle1 {
  text-align: center;
}
.cid-rmLdgD3gI0 .card-title1 {
  text-align: center;
}
.cid-rmLdgD3gI0 .mbr-text1 {
  text-align: center;
}
.cid-rmLdgD3gI0 .card-title2 {
  text-align: center;
  color: #ffffff;
}
.cid-rmLdgD3gI0 .mbr-text2 {
  color: #ffffff;
  text-align: center;
}
.cid-rmLdgD3gI0 .card-subtitle2 {
  color: #ffffff;
  text-align: center;
}
.cid-rmLdgD3gI0 .card-title3 {
  text-align: center;
}
.cid-rmLdgD3gI0 .mbr-text3 {
  text-align: center;
}
.cid-rmLdgD3gI0 .card-subtitle3 {
  text-align: center;
  color: #232323;
}
.cid-rmLdgD3gI0 .card-title4 {
  text-align: center;
}
.cid-rmLdgD3gI0 .mbr-text4 {
  text-align: center;
  color: #ffffff;
}
.cid-rmLdgD3gI0 .card-subtitle4 {
  text-align: center;
  color: #ffffff;
}
.cid-rmLdgD3gI0 .card-title2,
.cid-rmLdgD3gI0 .title-wrap2 {
  text-align: center;
  color: #ffffff;
}
.cid-rmLdgD3gI0 .card-title3,
.cid-rmLdgD3gI0 .title-wrap3 {
  text-align: center;
}
.cid-rmLdgD3gI0 .card-title4,
.cid-rmLdgD3gI0 .title-wrap4 {
  text-align: center;
  color: #ffffff;
}
.cid-rmLdgD3gI0 .card-title1,
.cid-rmLdgD3gI0 .title-wrap1 {
  text-align: center;
}
.cid-rmLdgD3gI0 .title {
  text-align: center;
}
.cid-rmLdFECR5T {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rmLdFECR5T .card-box {
  padding: 2rem 2rem 0rem 2rem;
}
.cid-rmLdFECR5T .mbr-section-btn {
  padding-top: 0.5rem;
}
.cid-rmLdFECR5T .card {
  height: fit-content;
}
.cid-rmLdFECR5T h4 {
  display: inline;
  text-decoration: none;
  background-image: linear-gradient(transparent calc(98%), currentColor 1px);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 0% 100%;
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cid-rmLdFECR5T .card1 {
  background: #232323;
}
.cid-rmLdFECR5T .card2 {
  background: #ffffff;
}
.cid-rmLdFECR5T .card3 {
  background: #232323;
}
.cid-rmLdFECR5T .card4 {
  background: #ffffff;
}
.cid-rmLdFECR5T .card-wrapper {
  height: 100%;
  padding-bottom: 2rem;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rmLdFECR5T .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-rmLdFECR5T .card-wrapper:hover h4 {
  background-size: 100% 100%;
}
.cid-rmLdFECR5T .card-subtitle1 {
  text-align: center;
  color: #ffffff;
}
.cid-rmLdFECR5T .card-title1 {
  text-align: center;
}
.cid-rmLdFECR5T .mbr-text1 {
  text-align: center;
  color: #ffffff;
}
.cid-rmLdFECR5T .card-title2 {
  text-align: center;
  color: #ffffff;
}
.cid-rmLdFECR5T .mbr-text2 {
  color: #232323;
  text-align: center;
}
.cid-rmLdFECR5T .card-subtitle2 {
  color: #232323;
  text-align: center;
}
.cid-rmLdFECR5T .card-title3 {
  text-align: center;
}
.cid-rmLdFECR5T .mbr-text3 {
  text-align: center;
  color: #ffffff;
}
.cid-rmLdFECR5T .card-subtitle3 {
  text-align: center;
  color: #ffffff;
}
.cid-rmLdFECR5T .card-title4 {
  text-align: center;
}
.cid-rmLdFECR5T .mbr-text4 {
  text-align: center;
  color: #232323;
}
.cid-rmLdFECR5T .card-subtitle4 {
  text-align: center;
  color: #232323;
}
.cid-rmLdFECR5T .card-title2,
.cid-rmLdFECR5T .title-wrap2 {
  text-align: center;
  color: #232323;
}
.cid-rmLdFECR5T .card-title3,
.cid-rmLdFECR5T .title-wrap3 {
  text-align: center;
  color: #ffffff;
}
.cid-rmLdFECR5T .card-title4,
.cid-rmLdFECR5T .title-wrap4 {
  text-align: center;
  color: #232323;
}
.cid-rmLdFECR5T .card-title1,
.cid-rmLdFECR5T .title-wrap1 {
  text-align: center;
  color: #ffffff;
}
.cid-rmLdFECR5T .title {
  text-align: center;
}
.cid-rn92qiQrNE {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rn92qiQrNE .nav-tabs .nav-item.open .nav-link:focus,
.cid-rn92qiQrNE .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-rn92qiQrNE p {
  letter-spacing: 0px;
  color: #ffffff;
}
.cid-rn92qiQrNE .nav-item {
  margin-bottom: -1px;
  width: fit-content;
}
.cid-rn92qiQrNE .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  text-align: center;
  flex-wrap: wrap;
  border-radius: 0;
  border-bottom: 1px solid #cccccc;
  color: #495057;
  background-color: #fff;
}
.cid-rn92qiQrNE .nav-tabs .nav-item {
  padding: 0 1.5rem;
}
.cid-rn92qiQrNE .nav-link.active {
  border-color: transparent;
}
.cid-rn92qiQrNE .nav-tabs .nav-link {
  color: #1c1c1c;
  border-radius: 0px!important;
  font-style: normal;
  transition: all 0.3s;
}
.cid-rn92qiQrNE .nav-tabs .nav-link:hover {
  cursor: pointer;
  border-color: transparent;
  background-color: #ffffff;
  border-bottom: 1px solid #1c1c1c;
}
.cid-rn92qiQrNE .nav-tabs .nav-link.active {
  color: #000000;
  border-bottom: 1px solid #1c1c1c;
  font-style: normal;
  background-color: #ffffff;
}
.cid-rn92qiQrNE .nav-tabs .nav-link.active:hover {
  background-color: #ffffff;
}
.cid-rn92qiQrNE .mbr-text {
  text-align: center;
}
.cid-rn92qiQrNE P {
  color: #767676;
  text-align: right;
}
.cid-rn92qiQrNE H2 {
  color: #232323;
}
@media (max-width: 767px) {
  .cid-rn92qiQrNE .nav-tabs {
    flex-direction: row;
    border-color: transparent;
  }
  .cid-rn92qiQrNE .nav-item {
    margin-bottom: 0px;
    padding: 0 .5rem!important;
  }
  .cid-rn92qiQrNE .pt-5 {
    padding-top: 2rem!important;
  }
  .cid-rn92qiQrNE .pb-5 {
    padding-bottom: 2rem!important;
  }
}
.cid-rmLd5iSBIV {
  padding-top: 30px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-rmLd5iSBIV .card-box {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin: auto auto 1rem 2rem;
  height: fit-content;
  max-width: 300px;
}
.cid-rmLd5iSBIV .card-wrap {
  background-color: #232323;
  display: flex;
  height: 100%;
  min-height: 300px;
}
.cid-rmLd5iSBIV .card-wrap:hover h4 {
  background-size: 100% 100%;
}
.cid-rmLd5iSBIV h3 {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: top left;
  width: fit-content;
  padding: 0;
  margin: 0;
  left: 0rem;
  top: -1rem;
}
.cid-rmLd5iSBIV h3:after {
  content: "";
  color: #333;
  width: 30px;
  position: absolute;
  top: 50%;
  height: 1px;
  background-color: #ffffff;
  margin-left: 10px;
}
.cid-rmLd5iSBIV img {
  width: 100%;
}
.cid-rmLd5iSBIV h4 {
  display: inline!important;
  text-decoration: none;
  background-image: linear-gradient(transparent calc(98%), currentColor 1px);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 0% 100%;
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cid-rmLd5iSBIV .card-title1,
.cid-rmLd5iSBIV .title-wrap1 {
  color: #ffffff;
}
.cid-rmLd5iSBIV .card-title,
.cid-rmLd5iSBIV .title-wrap {
  color: #ffffff;
}
@media (max-width: 992px) {
  .cid-rmLd5iSBIV .mdpb {
    padding-bottom: 2rem;
  }
  .cid-rmLd5iSBIV .card-box {
    margin: auto auto 0rem 1rem;
  }
}
.cid-rmLd5iSBIV H3 {
  color: #ffffff;
}
.cid-rmLdzv3h9r {
  padding-top: 225px;
  padding-bottom: 225px;
}
.cid-rmLdoiwzhQ {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rmLdoiwzhQ h3 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  display: inline;
  text-decoration: none;
  background-image: linear-gradient(transparent calc(98%), currentColor 1px);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 0% 100%;
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cid-rmLdoiwzhQ .pt-4 {
  padding-top: 2rem!important;
}
.cid-rmLdoiwzhQ .card-img {
  position: relative;
  height: 350px;
  overflow: hidden;
}
.cid-rmLdoiwzhQ p {
  color: #767676;
  text-align: left;
}
.cid-rmLdoiwzhQ .card-wrapper {
  height: 100%;
}
.cid-rmLdoiwzhQ .container-fluid {
  max-width: 1600px;
}
.cid-rmLdoiwzhQ img {
  object-fit: cover;
  height: 100%;
  transition: all 0.3s;
}
.cid-rmLdoiwzhQ h4 {
  margin: 0;
}
.cid-rmLdoiwzhQ .icons {
  position: absolute;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  left: 30px;
  bottom: 20px;
  transition: all 0.3s;
  opacity: 0;
  z-index: 2;
}
.cid-rmLdoiwzhQ .mbr-iconfont {
  color: #ffffff;
  display: block;
  transition: all 0.3s;
  padding-bottom: 10px;
}
.cid-rmLdoiwzhQ .mbr-iconfont:hover {
  color: #cccccc;
}
.cid-rmLdoiwzhQ .card:hover h3 {
  background-size: 100% 100%;
}
.cid-rmLdoiwzhQ .card:hover .icons {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rmLdoiwzhQ .icons {
    opacity: 1;
  }
}
.cid-rmLdoiwzhQ .name,
.cid-rmLdoiwzhQ .title-align {
  text-align: center;
}
.cid-rmLdoiwzhQ .card-title {
  text-align: center;
}
.cid-rmLdoiwzhQ .maintitle {
  text-align: center;
}
.cid-rmLdrGVpRN {
  padding-top: 45px;
  padding-bottom: 45px;
  background: #efefef;
}
.cid-rmLdrGVpRN img {
  width: 120px;
  margin: auto;
}
.cid-rmLdrGVpRN .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.5;
  margin-bottom: 1rem;
}
.cid-rmLdrGVpRN .card:hover {
  opacity: 1;
  cursor: pointer;
}
.cid-rmLdrGVpRN H1 {
  color: #1c1c1c;
}
.cid-rmLdrGVpRN .mbr-text,
.cid-rmLdrGVpRN .mbr-section-btn {
  color: #232323;
}
.cid-rmLdrGVpRN .line-wrap {
  display: inline-block;
  height: 30px;
  text-align: left;
}
.cid-rmLdrGVpRN .line {
  width: 100px;
  height: 1px;
  background: #1c1c1c;
}
.cid-rmLdrGVpRN .line1 {
  margin-left: -2rem;
}
.cid-rmLdrGVpRN .line2 {
  margin-right: -2rem;
  margin-top: 0.2rem;
}
.cid-rmLdrGVpRN .mbr-section-title,
.cid-rmLdrGVpRN .line-align {
  text-align: center;
}
.cid-rmLofHJvLS {
  padding-top: 60px;
  padding-bottom: 105px;
  background-color: #ffffff;
}
.cid-rmLofHJvLS .carousel {
  z-index: 0;
}
.cid-rmLofHJvLS .carousel-item {
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rmLofHJvLS .carousel-item.active,
.cid-rmLofHJvLS .carousel-item-next,
.cid-rmLofHJvLS .carousel-item-prev {
  display: flex;
}
.cid-rmLofHJvLS .mbr-iconfont {
  font-family: Moririse2!important;
}
.cid-rmLofHJvLS .line-wrap {
  display: inline-block;
  height: 30px;
  text-align: left;
}
.cid-rmLofHJvLS .line {
  width: 100px;
  height: 1px;
  background: #1c1c1c;
}
.cid-rmLofHJvLS .line1 {
  margin-left: -2rem;
}
.cid-rmLofHJvLS .line2 {
  margin-right: -2rem;
  margin-top: 0.2rem;
}
.cid-rmLofHJvLS .carousel-controls a {
  font-size: 2rem;
}
.cid-rmLofHJvLS .carousel-controls a span {
  position: absolute;
  transition: opacity 0.3s;
  top: 70px;
  padding: 10px;
  border-radius: 50%;
  color: #1c1c1c;
  background: transparent;
  opacity: 0.5;
}
.cid-rmLofHJvLS .carousel-controls a:hover span {
  opacity: 1;
  cursor: pointer;
}
.cid-rmLofHJvLS ol {
  margin-bottom: 0;
  bottom: -4rem;
}
.cid-rmLofHJvLS .carousel-indicators li {
  width: 7px;
  height: 7px;
  border: none;
  background: #1c1c1c;
  margin-right: 7px;
  margin-left: 7px;
  border-radius: 50%;
  opacity: 0.2;
}
.cid-rmLofHJvLS .carousel-indicators .active {
  opacity: 1;
}
.cid-rmLofHJvLS .user_text {
  color: #767676;
}
.cid-rmLofHJvLS .user_desk {
  color: #767676;
}
.cid-rmLdqaBbKY {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
.cid-rmLdqaBbKY h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rmLdqaBbKY p {
  color: #767676;
  text-align: left;
}
.cid-rmLdqaBbKY .card-wrapper {
  height: 100%;
}
.cid-rmLdqaBbKY .container-fluid {
  max-width: 1600px;
}
.cid-rmLdqaBbKY .card-img {
  height: 300px;
  overflow: hidden;
}
.cid-rmLdqaBbKY img {
  object-fit: cover;
  height: 100%;
  transition: all 0.3s;
}
.cid-rmLdqaBbKY .mbr-iconfont {
  position: absolute;
  font-size: 1.8rem;
  color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  opacity: 0;
  z-index: 2;
}
.cid-rmLdqaBbKY .card:hover img {
  filter: blur(3px);
}
.cid-rmLdqaBbKY .card:hover .mbr-iconfont {
  opacity: 1;
}
.cid-rmLdqaBbKY .title {
  text-align: center;
}
@media (max-width: 767px) {
  .cid-rmLdqaBbKY .mbr-iconfont {
    opacity: 1;
  }
  .cid-rmLdqaBbKY img {
    filter: blur(3px);
  }
}
.cid-rmLdwfVfsG {
  padding-top: 165px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rmLdwfVfsG .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-rmLdwfVfsG .form-row {
  justify-content: flex-end;
}
.cid-rmLdwfVfsG .form-control,
.cid-rmLdwfVfsG .field-input {
  padding: 0.5rem;
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  border-bottom: 1px solid;
  border-color: #1c1c1c;
  color: #000000;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rmLdwfVfsG .form-control:hover,
.cid-rmLdwfVfsG .field-input:hover,
.cid-rmLdwfVfsG .form-control:focus,
.cid-rmLdwfVfsG .field-input:focus {
  background-color: #ffffff;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-rmLdwfVfsG input::-webkit-input-placeholder,
.cid-rmLdwfVfsG textarea::-webkit-input-placeholder {
  color: #767676;
}
.cid-rmLdwfVfsG input:-moz-placeholder,
.cid-rmLdwfVfsG textarea:-moz-placeholder {
  color: #767676;
}
.cid-rmLdwfVfsG .jq-selectbox li,
.cid-rmLdwfVfsG .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-rmLdwfVfsG .jq-selectbox li:hover,
.cid-rmLdwfVfsG .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-rmLdwfVfsG .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-rmLdwfVfsG .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-rmLdwfVfsG textarea {
  min-height: 150px;
}
.cid-rmLdwfVfsG h3 {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: top left;
  width: fit-content;
  padding: 0;
  margin: 0;
  left: 1rem;
  top: 0rem;
}
.cid-rmLdwfVfsG h3:after {
  content: "";
  color: #333;
  width: 30px;
  position: absolute;
  top: 50%;
  height: 1px;
  background-color: #232323;
  margin-left: 10px;
}
.cid-rmLdwfVfsG .mbr-text,
.cid-rmLdwfVfsG .mbr-section-btn {
  color: #767676;
}
.cid-rmLdsGxcv3 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
.cid-rmLdsGxcv3 P {
  color: #767676;
}
.cid-rmLdsGxcv3 H5 {
  color: #1c1c1c;
  text-align: left;
}
.cid-rmLdsGxcv3 h5 {
  display: inline;
  text-decoration: none;
  width: fit-content;
  background-image: linear-gradient(transparent calc(98%), currentColor 1px);
  margin-bottom: 1.5rem;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 0% 100%;
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cid-rmLdsGxcv3 h5:hover {
  background-size: 100% 100%;
}
.cid-rmLdsGxcv3 .col-md-4 {
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.cid-rmLdsGxcv3 H4 {
  text-align: left;
}
.cid-rmLdtq40jh {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
